@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Playpen+Sans+Arabic:ital,wght@0,200..900;1,200..900&family=Gulzar&display=swap");

    h1 {
      font-size: 2.5rem !important;
      text-align: center;
    }
    h2{
      font-size: 1.5rem;
      color: var(--text-color2);
    }
    p {
      font-size: 16px !important;
      margin-bottom: 1.2rem;
      text-align: justify;
    }
    
    a {
      color: #00aaff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    .source {
      color: #888;
      font-size: 0.9rem;
      margin-top: 2rem;
    }
    .blog_patch{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem 0 ;
  background-color: var(--terminal-bg);
  color: var(--terminal-color);
  width: 90vw;
  min-height: 360px;
  max-width: 700px;
  position: relative;
  padding: 0;
  border-radius: 5px;
  border: 1px dotted #444;
 a{
  color: var(--text-color);
}
}
.article_container{
  width: 90vw;
  max-width: 700px;
}
.article_auth{
  position: absolute;
  bottom: 0;
  right: 1rem;
	color: var(--color-comment);
}
.article_date {
	position: absolute;
	bottom: 0;
	left: 1rem;
	color: var(--color-comment);
}
