/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Playpen+Sans+Arabic:ital,wght@0,200..900;1,200..900&family=Gulzar&display=swap");
* {
   font-family: 'IBM Plex Sans Arabic', sans-serif ;
    font-weight: 400;
}
.logo_name{
  direction: ltr !important;
  font-family: "Jetbrains Mono", monospace ;
}
.dropdown button {
  text-align: left;
}

.comment_title p{
   line-height: 1.6;
    font-family: "Playpen Sans Arabic", monospace !important;
  }
.home_title_font{
  font-weight: 400;
   /*
   font-family: "Jetbrains Mono", monospace !important;
   font-family: "Courier New", monospace;
   */
   font-family: "Playpen Sans Arabic", monospace !important; 
}
.Jetbrains_font, .patch_code{
  font-size: 12px;
   font-family: "JetBrains Mono" !important;
}

.Caveat{
  font-family: "Gulzar" !important;
  font-size: 4rem;
}